/service/src/main/resources/azure_translation.properties
/service/logs
/service/src/main/resources/mailservice_config.properties
/hibernate/src/main/resources/postgresql_config.properties
/mongodbDAO/src/main/resources/mongodb_config.properties
*/*.iml
*.idea
controller/target/
dao/target/
hibernate/target/
model/target/
mongodbDAO/src/main/resources/
mongodbDAO/target/
security/target/
service/target/
tm-model/target/
/aftership/src/main/resources/aftership.properties
aftership/src/test/
aftership/target/
