<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" name="controller-configuration">
    <Properties>
        <Property name="LOG_DIR">logs</Property>
        <Property name="ARCHIVE">${LOG_DIR}/archive</Property>
        <Property name="PATTERN">[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</Property>
        <Property name="SENDGRID_USERNAME">${env:SENDGRID_USERNAME}</Property>
        <Property name="SENDGRID_PASSWORD">${env:SENDGRID_PASSWORD}</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>
        <RollingFile name="fileWriter"
                     fileName="${LOG_DIR}/crm-ocean.log"
                     filePattern="${ARCHIVE}/crm-ocean.log.%i">
            <PatternLayout pattern="${PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
            <PatternLayout pattern="${PATTERN}"/>
        </RollingFile>
        <SMTP name="Mail" subject="Error Log" to="service.postmancom@gmail.com" from="service.postmancom@gmail.com"
              smtpHost="smtp.sendgrid.net" smtpPort="587" bufferSize="50" smtpUsername="${SENDGRID_USERNAME}"
              smtpPassword="${SENDGRID_PASSWORD}">
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </SMTP>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="Mail"/>
            <AppenderRef ref="fileWriter"/>
            <AppenderRef ref="console"/>
        </Root>
        <Logger name="org.hibernate" level="error"/>
        <!--<Logger name="org.hibernate.SQL" level="debug"/>-->
        <!--<Logger name="org.hibernate.type" level="trace"/>-->
    </Loggers>
</Configuration>