<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" name="controller-configuration">
    <Properties>
        <Property name="LOG_DIR">logs</Property>
        <Property name="ARCHIVE">${LOG_DIR}/archive</Property>
        <Property name="PATTERN">[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>
        <RollingFile name="fileWriter"
                     fileName="${LOG_DIR}/crm-ocean.log"
                     filePattern="${ARCHIVE}/crm-ocean.log.%i">
            <PatternLayout pattern="${PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
            <PatternLayout pattern="${PATTERN}"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="DEBUG" additivity="false">
            <AppenderRef ref="fileWriter"/>
            <AppenderRef ref="console"/>
        </Root>
        <Logger name="org.hibernate" level="error" />
        <Logger name="org.hibernate.SQL" level="debug"/>
        <Logger name="org.hibernate.type" level="trace"/>
    </Loggers>
</Configuration>